<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>

    <title>PERSON-EDIT</title>
</head>
<body>

<form th:action="@{/person-save}"
      th:object="${person}" method="POST">

    <table width="100%" cellspacing="10" cellpadding="10" border="1" style="border-collapse: collapse;">
        <tr>
            <td width="200" nowrap="nowrap">ID:</td>
            <td width="100%"><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>
                First Name:
            </td>
            <td>
                <label>
                    <input type="text" th:field="*{firstName}"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                Second Name:
            </td>
            <td>
                <label>
                    <input type="text" th:field="*{secondName}"/>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                Middle Name:
            </td>
            <td>
                <label>
                    <input type="text" th:field="*{middleName}"/>
                </label>
            </td>
        </tr>
    </table>

    <br/>
    <button type="submit" style="font-size: 2em;">SAVE</button>

</form>

</body>
</html>
