JavaEE/online_shop/*.iml
JavaEE/online_shop/.idea
JavaEE/online_shop/target

JavaEE/cd-book-store/*.iml
JavaEE/cd-book-store/.idea
JavaEE/cd-book-store/target
JavaEE/cd-book-store/*.log

JavaEE/jpa-and-hibernate/.gradle
JavaEE/jpa-and-hibernate/.idea
JavaEE/jpa-and-hibernate/gradle
JavaEE/jpa-and-hibernate/out
JavaEE/jpa-and-hibernate/build

design-patterns/home-app/.idea
design-patterns/home-app/*.iml
design-patterns/home-app/out

design-patterns/module-project/*.iml
design-patterns/module-project/.idea
design-patterns/module-project/out
design-patterns/module-project/*/*.iml

design-patterns/java-8/.idea
design-patterns/java-8/*.iml
design-patterns/java-8/out
design-patterns/java-8/.gradle
design-patterns/java-8/gradle
design-patterns/java-8/build

Spring-1/*/.idea
Spring-1/*/*.iml
