
/android/res/drawable-xhdpi/ic_launcher.png
/android/res/drawable-mdpi/ic_launcher.png
/android/res/drawable-xxhdpi/ic_launcher.png
/android/res/drawable-hdpi/ic_launcher.png
/android/res/drawable-xxxhdpi/ic_launcher.png
/android/res/values/strings.xml
/android/res/values/styles.xml
/android/libs/arm64-v8a/libgdx.so
/android/libs/armeabi/libgdx.so
/android/libs/armeabi-v7a/libgdx.so
/android/libs/x86_64/libgdx.so
/android/libs/x86/libgdx.so
